mixin categoryItem(image,name,season,button)
        a.category.position-relative.col-md-4(href="shop.html")
            img(class="category-img",src= image, alt="")
            .category-overlay
            .category-name= name
            .category-season= season
            .category-button
                .category-text= button 

mixin productItem(image,name,price,category)
        .product(class=`${category}`).all
            .product-image
                img(class="product-img",src= image, alt="")
                .product-btn  Quick View
            .product-text
                a(href="productdetail.html" class="product-name")= name 
                .product-price= price 
                .product-icon.active.fs-5
                    i.zmdi.zmdi-favorite-outline

mixin bannerItem(textTop,textBottom,effect)
    .banner-container
        .banner(class =effect)
            .banner-text.container
                .banner-text-1= textTop
                .banner-text-2= textBottom
                .btn 
                    a(href="shop.html" class="all-btn").text-decoration-none  SHOP NOW    

mixin filterItem(title,nd1,nd2,nd3,nd4,nd5,nd6,circle)
    if circle 
        .title-filter.col-md-3= title 
            ul
                li
                    span(style=`background:${nd1}`)
                    a(href="#")= nd1      
                li
                    span(style=`background:${nd2}`)
                    a(href="#")= nd2 
                li
                    span(style=`background:${nd3}`)
                    a(href="#")= nd3  
                li
                    span(style=`background:${nd4}`)
                    a(href="#")= nd4  
                li
                    span(style=`background:${nd5}`)
                    a(href="#")= nd5  
                li
                    span(style=`background:${nd6}`)
                    a(href="#")= nd6 
    else 
        .title-filter.col-md-3= title 
            ul
                li
                    a(href="#")= nd1      
                li
                    a(href="#")= nd2 
                li
                    a(href="#")= nd3  
                li
                    a(href="#")= nd4  
                li
                    a(href="#")= nd5  
                li
                    a(href="#")= nd6   

                 
            